body{
    background-color: rgb(106, 197, 197);
}

nav a {
    text-decoration: none;
    color: cyan;
    transition: 0.3s;
}

nav a:hover{
    color: darkblue;
    font-weight: bold;
    background-color: white;
    font-style: oblique;
}

button{
    background-color: white;
    color: darkblue;
}